VITE_API_BASE_URL=https://qht6965nv9.execute-api.sa-east-1.amazonaws.com
VITE_COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_COGNITO_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_COGNITO_DOMAIN=https://XXXXXXXXXX.auth.sa-east-1.amazoncognito.com
VITE_COGNITO_REDIRECT_ORIGIN=http://localhost:5173
