VITE_API_BASE_URL=https://api.coachmatch.com.br
# Alterar para "enabled" para interceptar chamadas API com MSW (dev only).
VITE_API_MOCKING=disabled
VITE_COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
# ATENCAO: expor client secret no frontend nao e uma boa pratica.
# Mantido por enquanto porque o app client atual do Cognito exige secret; sem isso o login nao funciona.
VITE_COGNITO_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_COGNITO_DOMAIN=https://login.coachmatch.com.br
VITE_COGNITO_STUDENT_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_COGNITO_STUDENT_DOMAIN=https://student.coachmatch.com.br
