openapi: 3.0.3
info:
  title: CoachMatch API
  version: 0.3.0
  description: |
    Especificação das rotas implementadas no serviço `server/coachmatch` (Serverless Framework + DynamoDB).

    Rotas implementadas:
    - `/coaches/*`  — treinadores autenticados (Cognito pool CoachAccess)
    - `/clients/*`  — alunos autenticados (Cognito pool StudentAccess)
    - `/gyms/*`     — academias (ambos os papéis)

    Rotas marcadas com `x-not-implemented: true` existem apenas como planejamento futuro.
    Endpoints de terceiros (Cognito OAuth) e helpers de desenvolvimento ficam fora deste contrato.
servers:
  - url: "https://api.coachmatch.com.br"
    description: API de produção CoachMatch.

tags:
  - name: Coach — Perfil
    description: Dados do treinador autenticado.
  - name: Coach — Uploads
    description: Geração de URLs pré-assinadas para upload direto ao S3.
  - name: Coach — Recursos
    description: Especialidades e academias acessadas pelo treinador.
  - name: Coach — Agenda
    description: Disponibilidades e gestão de agendamentos do treinador.
  - name: Student — Perfil
    description: Dados do aluno autenticado.
  - name: Student — Recursos
    description: Especialidades e academias acessadas pelo aluno.
  - name: Student — Agenda
    description: Busca de slots e solicitações de agendamento do aluno.

security:
  - bearerAuth: []

paths:
  # ─────────────────────────────────────────────
  # Coach — Perfil
  # ─────────────────────────────────────────────
  /coaches/me:
    get:
      tags: [Coach — Perfil]
      summary: Retorna o treinador autenticado.
      operationId: getCoachMe
      responses:
        "200":
          description: Treinador encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coach"
        "401":
          $ref: "#/components/responses/Unauthorized"

    put:
      tags: [Coach — Perfil]
      summary: Atualiza perfil e locais de atendimento do treinador.
      operationId: updateCoachMe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CoachUpdatePayload"
      responses:
        "200":
          description: Treinador atualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coach"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /coaches/me/submit-for-review:
    post:
      tags: [Coach — Perfil]
      summary: Submete o perfil do treinador para análise.
      operationId: submitCoachForReview
      responses:
        "200":
          description: Status atualizado para `PENDING_REVIEW`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coach"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Estado atual não permite submissão.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ─────────────────────────────────────────────
  # Coach — Uploads
  # ─────────────────────────────────────────────
  /upload-url:  # x-not-implemented: true
    post:
      tags: [Coach — Uploads]
      summary: Gera URL pré-assinada (POST policy do S3) para upload de vídeo.
      operationId: createCoachUploadUrl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [filename, contentType]
              properties:
                filename:
                  type: string
                  example: perfil-joao.mp4
                contentType:
                  type: string
                  example: video/mp4
      responses:
        "200":
          description: URL e campos para envio multipart.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadUrlResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ─────────────────────────────────────────────
  # Coach — Recursos
  # ─────────────────────────────────────────────
  /specialties:  # x-not-implemented: true
    get:
      tags: [Coach — Recursos]
      summary: Lista catálogo de especialidades (contexto treinador).
      operationId: listCoachSpecialties
      parameters:
        - in: query
          name: search
          schema: { type: string }
          example: Cross
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        "200":
          description: Lista paginada de especialidades.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Specialty"

  /gyms:
    get:
      tags: [Coach — Recursos]
      summary: Lista academias cadastradas (contexto treinador).
      operationId: listCoachGyms
      parameters:
        - in: query
          name: search
          schema: { type: string }
          description: Busca por nome, endereço ou bairro.
          example: Fit
        - in: query
          name: city
          schema: { type: string }
          description: Cidade exata.
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        "200":
          description: Lista paginada de academias.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Gym"

  /gyms/suggest:
    post:
      tags: [Coach — Recursos]
      summary: Envia sugestão de nova academia (pelo treinador). Sempre criada como inativa.
      operationId: suggestGymAsCoach
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GymSuggestPayload"
      responses:
        "201":
          description: Sugestão registrada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GymSuggestResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ─────────────────────────────────────────────
  # Coach — Agenda
  # ─────────────────────────────────────────────
  /coach/schedule:  # x-not-implemented: true
    get:
      tags: [Coach — Agenda]
      summary: Lista disponibilidades do treinador autenticado.
      operationId: getCoachSchedule
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                startDateTime:
                  type: string
                  format: date-time
                  example: "2026-05-01T08:00:30-03:00"
                endDateTime:
                  type: string
                  format: date-time
                  example: "2026-06-06T08:00:30-03:00"
      responses:
        "200":
          description: Lista de disponibilidades do treinador.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [Coach — Agenda]
      summary: Cria uma disponibilidade de agenda.
      operationId: createCoachSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleCreatePayload"
      responses:
        "201":
          description: Disponibilidade criada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /coach/schedule/requests:
    get:
      tags: [Coach — Agenda]
      summary: Lista solicitações de agendamento recebidas pelo treinador.
      operationId: getCoachScheduleRequests
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduleId:
                  type: string
                  example: avl_6cb2b644248448c68e63f350119c032d
      responses:
        "200":
          description: Lista de solicitações de agendamento.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ScheduleRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /coach/schedule/approve:
    post:
      tags: [Coach — Agenda]
      summary: Aprova uma solicitação de agendamento.
      operationId: approveScheduleRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduleId, studentId]
              properties:
                scheduleId:
                  type: string
                  example: avl_6cb2b644248448c68e63f350119c032d
                studentId:
                  type: string
                  example: 037c4a8a-6031-705c-e02f-8e45f93bd387
      responses:
        "200":
          description: Solicitação aprovada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Solicitação não encontrada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /coach/schedule/cancel:
    post:
      tags: [Coach — Agenda]
      summary: Cancela uma disponibilidade de agenda (pelo treinador).
      operationId: cancelCoachSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduleId]
              properties:
                scheduleId:
                  type: string
                  example: avl_6cb2b644248448c68e63f350119c032d
      responses:
        "200":
          description: Disponibilidade cancelada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /coach/schedule/class/status:
    post:
      tags: [Coach — Agenda]
      summary: Finaliza um atendimento (COMPLETED ou NOSHOW).
      operationId: updateClassStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduleId, status]
              properties:
                scheduleId:
                  type: string
                  example: avl_6cb2b644248448c68e63f350119c032d
                status:
                  $ref: "#/components/schemas/ClassStatus"
      responses:
        "200":
          description: Status da aula atualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ─────────────────────────────────────────────
  # Student — Perfil
  # ─────────────────────────────────────────────
  /clients/me:
    get:
      tags: [Student — Perfil]
      summary: Retorna o aluno autenticado.
      operationId: getStudentMe
      responses:
        "200":
          description: Aluno encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Client"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /clients/me/profile:
    post:
      tags: [Student — Perfil]
      summary: Conclui o cadastro de perfil do aluno.
      operationId: submitStudentProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientProfilePayload"
      responses:
        "200":
          description: Perfil registrado. Status do aluno avança para `ONBOARDING_HEALTH`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Client"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /clients/me/health:
    post:
      tags: [Student — Perfil]
      summary: Envia o questionário de saúde e consentimentos do aluno.
      operationId: submitStudentHealth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientHealthPayload"
      responses:
        "200":
          description: Saúde registrada. Status avança para `ACTIVE`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Client"
        "400":
          description: Consentimentos obrigatórios não aceitos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ─────────────────────────────────────────────
  # Recursos Compartilhados (alunos e treinadores)
  # Nota: /gyms e /gyms/suggest já estão documentados
  # acima na seção "Coach — Recursos" — o mesmo endpoint
  # serve ambos os papéis (Cognito JWT de qualquer pool).
  # ─────────────────────────────────────────────

  # ─────────────────────────────────────────────
  # Student — Agenda
  # ─────────────────────────────────────────────
  /student/coach/schedules:
    get:
      tags: [Student — Agenda]
      summary: Lista disponibilidades de um treinador específico.
      operationId: getCoachSchedulesForStudent
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                coachId:
                  type: string
                  example: 83dcfaba-f0c1-705d-b109-2b381fed0971
                startDateTime:
                  type: string
                  format: date-time
                  example: "2026-05-01T08:00:30-03:00"
                endDateTime:
                  type: string
                  format: date-time
                  example: "2026-06-06T08:00:30-03:00"
      responses:
        "200":
          description: Lista de disponibilidades do treinador.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /student/gyms/schedule:
    get:
      tags: [Student — Agenda]
      summary: Lista disponibilidades em uma academia específica.
      operationId: getGymScheduleForStudent
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                gymId:
                  type: string
                  example: gym_sp005
                startDateTime:
                  type: string
                  format: date-time
                  example: "2026-05-01T08:00:30-03:00"
                endDateTime:
                  type: string
                  format: date-time
                  example: "2026-06-06T08:00:30-03:00"
      responses:
        "200":
          description: Lista de disponibilidades na academia.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /student/coach/schedules/request:
    post:
      tags: [Student — Agenda]
      summary: Solicita um agendamento.
      operationId: requestSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduleId]
              properties:
                scheduleId:
                  type: string
                  example: avl_6cb2b644248448c68e63f350119c032d
      responses:
        "201":
          description: Solicitação registrada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

    get:
      tags: [Student — Agenda]
      summary: Lista agendamentos solicitados pelo aluno.
      operationId: listStudentScheduleRequests
      responses:
        "200":
          description: Lista de solicitações do aluno.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ScheduleRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

    delete:
      tags: [Student — Agenda]
      summary: Cancela uma solicitação de agendamento.
      operationId: cancelScheduleRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduleId]
              properties:
                scheduleId:
                  type: string
                  example: avl_6cb2b644248448c68e63f350119c032d
      responses:
        "200":
          description: Solicitação cancelada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /student/coach/schedules/cancel:
    post:
      tags: [Student — Agenda]
      summary: Cancela um agendamento aprovado (pelo aluno).
      operationId: cancelStudentSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduleId]
              properties:
                scheduleId:
                  type: string
                  example: avl_6cb2b644248448c68e63f350119c032d
      responses:
        "200":
          description: Agendamento cancelado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ─────────────────────────────────────────────
  # Busca pública de treinadores (mantida do contrato anterior)
  # ─────────────────────────────────────────────
  /student/coaches:
    get:
      tags: [Student — Agenda]
      summary: Busca treinadores publicamente listáveis.
      operationId: searchCoaches
      parameters:
        - in: query
          name: q
          schema: { type: string }
          description: Termo livre (nome, cidade, bairro, especialidade).
        - in: query
          name: "specialties[]"
          description: Filtra por uma ou mais especialidades. Pode repetir o parâmetro.
          schema:
            type: array
            items: { type: string }
          style: form
          explode: true
        - in: query
          name: address
          schema: { type: string }
          description: Filtro por bairro/cidade.
        - in: query
          name: availableOn
          schema: { type: string, format: date }
          description: Data ISO (yyyy-mm-dd) para filtrar disponibilidade.
        - in: query
          name: sort
          schema:
            $ref: "#/components/schemas/CoachSearchSort"
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 12 }
      responses:
        "200":
          description: Resultado paginado da busca.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/CoachListItem"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "IdToken emitido pelo Amazon Cognito (papel ativo: aluno ou treinador)."

  responses:
    Unauthorized:
      description: Token ausente, inválido ou expirado.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    BadRequest:
      description: Payload inválido.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          example: Consentimentos obrigatórios.
      required: [error]

    Coordinates:
      type: object
      required: [lat, lng]
      properties:
        lat: { type: number, format: double, example: -23.561414 }
        lng: { type: number, format: double, example: -46.655881 }

    Pagination:
      type: object
      required: [page, limit, total, totalPages, hasNext, hasPrev]
      properties:
        page: { type: integer, example: 1 }
        limit: { type: integer, example: 12 }
        total: { type: integer, example: 42 }
        totalPages: { type: integer, example: 4 }
        hasNext: { type: boolean }
        hasPrev: { type: boolean }

    PaginatedEnvelope:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items: {}
        pagination:
          $ref: "#/components/schemas/Pagination"

    # ── Client / Student ──────────────────────
    ClientStatus:
      type: string
      enum: [ONBOARDING_PROFILE, ONBOARDING_HEALTH, ACTIVE]

    ClientGender:
      type: string
      enum: [F, M, NB, NA]

    ClientGoal:
      type: string
      enum: [WEIGHT_LOSS, HYPERTROPHY, CONDITIONING, REHAB, PERFORMANCE]

    ClientHealth:
      type: object
      required: [answers, lgpdConsent, medicalDisclaimer]
      properties:
        answers:
          type: object
          description: Mapa das respostas PAR-Q — chaves fixas heart/chest_pain/dizziness/bone_joint/medication.
          additionalProperties:
            type: string
            enum: [YES, NO]
        notes:
          type: string
          description: Observações livres sobre restrições ou lesões.
        lgpdConsent: { type: boolean }
        medicalDisclaimer: { type: boolean }

    Client:
      type: object
      required: [clientId, email, status, createdAt, updatedAt]
      properties:
        clientId: { type: string, example: client_demo }
        email: { type: string, format: email }
        status: { $ref: "#/components/schemas/ClientStatus" }
        name: { type: string, nullable: true }
        phone: { type: string, nullable: true, example: "+5511999990000" }
        birthDate: { type: string, format: date, nullable: true }
        gender:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/ClientGender"
        cep: { type: string, nullable: true, example: "01310-100" }
        city: { type: string, nullable: true }
        state: { type: string, nullable: true, minLength: 2, maxLength: 2 }
        radius: { type: integer, nullable: true, description: Raio em km. }
        goal:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/ClientGoal"
        health:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/ClientHealth"
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    ClientProfilePayload:
      type: object
      required: [phone, birthDate, gender, cep, city, state, radius, goal]
      properties:
        phone: { type: string, example: "+5511999990000" }
        birthDate: { type: string, format: date }
        gender:
          type: string
          enum: [F, M, NB, NA]
        cep: { type: string, example: "01310-100" }
        city: { type: string, example: São Paulo }
        state: { type: string, minLength: 2, maxLength: 2, example: SP }
        radius:
          type: integer
          enum: [5, 10, 20]
          description: Raio de atendimento em km.
        goal:
          type: string
          enum: [WEIGHT_LOSS, HYPERTROPHY, CONDITIONING, REHAB, PERFORMANCE]

    ClientHealthPayload:
      type: object
      required: [answers, notes, lgpdConsent, medicalDisclaimer]
      properties:
        answers:
          type: object
          additionalProperties:
            type: string
            enum: [YES, NO]
          description: Mapa pergunta → resposta.
        notes:
          type: string
          description: Observações livres do aluno.
        lgpdConsent: { type: boolean }
        medicalDisclaimer: { type: boolean }

    # ── Coach ─────────────────────────────────
    CoachStatus:
      type: string
      enum: [ONBOARDING_PROFILE, PENDING_REVIEW, APPROVED, REJECTED]

    CoachVisibility:
      type: string
      enum: [VISIBLE, INVISIBLE]

    CoachProfile:
      type: object
      required: [name, phone, specialties, cref, instagram, profile_video]
      properties:
        name: { type: string }
        phone:
          type: string
          nullable: true
        specialties:
          type: array
          items: { type: string }
        cref: { type: string, example: "CREF 012345-G/SP" }
        instagram: { type: string, example: "@treinador" }
        profile_video:
          type: boolean
          description: Indica se há vídeo de apresentação enviado.

    WorkLocationGym:
      type: object
      required: [type, gymId]
      properties:
        type:
          type: string
          enum: [GYM]
        gymId: { type: string }

    HomeServiceCoverage:
      type: object
      required: [city, state, neighborhoods]
      properties:
        city: { type: string }
        state: { type: string, minLength: 2, maxLength: 2 }
        neighborhoods:
          type: array
          items: { type: string }

    WorkLocationHomeService:
      type: object
      required: [type, coverage]
      properties:
        type:
          type: string
          enum: [HOME_SERVICE]
        coverage:
          $ref: "#/components/schemas/HomeServiceCoverage"

    WorkLocation:
      oneOf:
        - $ref: "#/components/schemas/WorkLocationGym"
        - $ref: "#/components/schemas/WorkLocationHomeService"
      discriminator:
        propertyName: type
        mapping:
          GYM: "#/components/schemas/WorkLocationGym"
          HOME_SERVICE: "#/components/schemas/WorkLocationHomeService"

    Coach:
      type: object
      required:
        [
          coachId,
          email,
          status,
          visibility,
          profile,
          work_location,
          createdAt,
          updatedAt,
        ]
      properties:
        coachId: { type: string }
        email: { type: string, format: email }
        status: { $ref: "#/components/schemas/CoachStatus" }
        visibility: { $ref: "#/components/schemas/CoachVisibility" }
        profile: { $ref: "#/components/schemas/CoachProfile" }
        work_location:
          type: array
          items:
            $ref: "#/components/schemas/WorkLocation"
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CoachUpdatePayload:
      type: object
      properties:
        profile:
          allOf:
            - $ref: "#/components/schemas/CoachProfile"
          description: Campos parciais aceitos.
        work_location:
          type: array
          items:
            $ref: "#/components/schemas/WorkLocation"

    CoachSearchSort:
      type: string
      enum: [rating, price_asc, price_desc]
      default: rating

    CoachListItem:
      type: object
      required:
        [
          coachId,
          name,
          specialties,
          rating,
          priceFrom,
          neighborhood,
          city,
          nextAvailability,
          photo,
        ]
      properties:
        coachId: { type: string }
        name: { type: string }
        specialties:
          type: array
          items: { type: string }
        rating:
          type: number
          format: float
          minimum: 0
          maximum: 5
        priceFrom:
          type: number
          description: Preço a partir de (em BRL).
        neighborhood: { type: string }
        city: { type: string }
        nextAvailability:
          type: string
          description: Texto curto com a próxima janela disponível.
        photo:
          type: string
          nullable: true

    # ── Gym ───────────────────────────────────
    Gym:
      type: object
      required: [gymId, name, address, city, state, neighborhood, coordinates]
      properties:
        gymId: { type: string }
        name: { type: string }
        address: { type: string }
        city: { type: string }
        state: { type: string, minLength: 2, maxLength: 2 }
        neighborhood: { type: string }
        coordinates:
          $ref: "#/components/schemas/Coordinates"

    GymSuggestPayload:
      type: object
      required: [name, address, city, state, neighborhood, coordinates]
      properties:
        name: { type: string }
        address: { type: string }
        city: { type: string }
        state: { type: string, minLength: 2, maxLength: 2 }
        neighborhood: { type: string }
        coordinates:
          $ref: "#/components/schemas/Coordinates"

    GymSuggestResponse:
      type: object
      required: [data, message]
      properties:
        data: { $ref: "#/components/schemas/Gym" }
        message:
          type: string
          example: Sugestão registrada com sucesso. Aguardando aprovação.

    # ── Specialty ─────────────────────────────
    Specialty:
      type: object
      required: [id, label]
      properties:
        id: { type: string, example: musculacao }
        label: { type: string, example: Musculação }

    # ── Schedule ──────────────────────────────
    ScheduleStatus:
      type: string
      enum: [AVAILABLE, REQUESTED, APPROVED, CANCELLED, COMPLETED, NOSHOW]

    ClassStatus:
      type: string
      enum: [COMPLETED, NOSHOW]

    Schedule:
      type: object
      required:
        [
          scheduleId,
          coachId,
          gymId,
          specialtyId,
          startDateTime,
          endDateTime,
          price,
          status,
        ]
      properties:
        scheduleId:
          { type: string, example: avl_6cb2b644248448c68e63f350119c032d }
        coachId: { type: string }
        gymId: { type: string, example: gym_sp005 }
        specialtyId: { type: string, example: MUSCULATION }
        startDateTime:
          {
            type: string,
            format: date-time,
            example: "2026-06-03T07:30:00-03:00",
          }
        endDateTime:
          {
            type: string,
            format: date-time,
            example: "2026-06-03T08:00:30-03:00",
          }
        price:
          type: string
          description: Valor em BRL.
          example: "120.00"
        status: { $ref: "#/components/schemas/ScheduleStatus" }

    ScheduleCreatePayload:
      type: object
      required: [gymId, specialtyId, startDateTime, endDateTime, price]
      properties:
        gymId: { type: string, example: gym_sp005 }
        specialtyId: { type: string, example: MUSCULATION }
        startDateTime:
          {
            type: string,
            format: date-time,
            example: "2026-06-03T07:30:00-03:00",
          }
        endDateTime:
          {
            type: string,
            format: date-time,
            example: "2026-06-03T08:00:30-03:00",
          }
        price:
          type: string
          description: Valor em BRL.
          example: "120.00"

    ScheduleRequest:
      type: object
      required: [scheduleId, studentId, status]
      properties:
        scheduleId:
          { type: string, example: avl_6cb2b644248448c68e63f350119c032d }
        studentId:
          { type: string, example: 037c4a8a-6031-705c-e02f-8e45f93bd387 }
        status: { $ref: "#/components/schemas/ScheduleStatus" }

    # ── Upload ────────────────────────────────
    UploadUrlResponse:
      type: object
      required: [key, expiresIn, upload]
      properties:
        key:
          type: string
          example: uploads/1715800000000-perfil-joao.mp4
        expiresIn:
          type: integer
          description: Validade da URL em segundos.
          example: 300
        upload:
          type: object
          required: [url, fields]
          properties:
            url:
              type: string
              format: uri
              example: https://coachmatch-uploads.s3.amazonaws.com
            fields:
              type: object
              additionalProperties: { type: string }
              description: |
                Campos da policy POST do S3 (key, Content-Type, X-Amz-Algorithm,
                X-Amz-Credential, X-Amz-Date, Policy, X-Amz-Signature,
                x-amz-security-token). Devem acompanhar o multipart/form-data.
